<main>
  <h1 class="heading">Programming Projects</h1>
  <p style="text-align: center"><%= image_tag("/coding.jpg", class: "projects-img") %></p>
  <hr>

  <h2 class="heading"><%= link_to "Spring Boot Web Application", springboot_path %></h2>
  <p style="text-align: center"><%= image_tag("/springboot.PNG", class: "projects-img") %></p>
  
<hr>

  <h2 class="heading"><%= link_to "Ruby on Rails Web Application", rubyonrails_path %></h2>
  <p style="text-align: center"><%= image_tag("/rails.PNG", class: "projects-img") %></p>
  
  
<hr>

  <h2 class="heading"><%= link_to "Visual Basic Vending Machine", visualbasic_path %></h2>

</main>


