<!DOCTYPE html>
<html>
  <head>
    <title>JustinPauga</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body class="container">
  <nav>
    
      <div class="navbar">
       <%= image_tag("/Logo.PNG", class: "logo") %> 
       <%= link_to "Home", home_path %>
       <div class="dropdown">
          <%= link_to "Projects", projects_path %>
          <div class="dropdown-content">
            <%= link_to "Spring Boot", springboot_path %>
            <%= link_to "Ruby on Rails", rubyonrails_path %>
            <%= link_to "Visual Basic", visualbasic_path %>
          </div>
       </div>     
      <%= link_to "Resume", resume_path %>
      <%= link_to "Contact", coming_soon_path, style: "float: right" %>
      <%= link_to "About me", aboutme_path, style: "float: right" %>
      </div>
    
  </nav>
    
    <%= yield %>
</body>
<footer>
<hr>
    <h2 style="text-align: center">Feel free to contact me directly!</h2>

    <!-- Social media and contact links. -->
    <div class="socialbtns" style="text-align: center">
      <p>LinkedIn Profile can be found <a href="https://www.linkedin.com/in/justin-pauga-51152698/" target="_blank">Here</a></p>
      <p>My Github Repositories can be found <a href="https://github.com/paugajt" target="_blank">Here</a></p>
        <a href="mailto:paugajt@gmail.com" target="_blank">paugajt@gmail.com</a>
    </div>
    <p style="text-align: center">Copyright 2017 by Justin Pauga</p>
</footer>
</html>
