<!DOCTYPE html>
<html>
  <head>
    <title>JustinPauga</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body class="container">
  <nav>
    <div class="container">
      <div class="navbar" id="myNavbar">
       <%= image_tag("/Logo.PNG", class: "logo") %> 
       <a href="http://localhost:3000">Home</a>
        
        <div class="dropdown">
            <a href="http://localhost:3000/projects">Projects</a>
              <div class="dropdown-content">
              <a href='http://localhost:3000/projects/springboot'>Spring Boot</a>
              <a href='http://localhost:3000/projects/rubyonrails'>Ruby on Rails</a>
              <a href="http://localhost:3000/projects/visualbasic">Visual Basic</a>
              </div>
        </div>
       
      <a href="http://localhost:3000/static_pages/resume">Resume</a>
        
     
      <a href="contact.html" style="float: right">Contact</a>
      
      </div>
      </div>
  </nav>
    
    <%= yield %>
</body>
<footer>
<hr>
    <h2 style="text-align: center">Feel free to contact me directly!</h2>

    <!-- Social media and contact links. -->
    <div class="socialbtns" style="text-align: center">
        <p><a href="https://github.com/paugajt" target="_blank" class="fa fa-lg fa-github"></a>
        <a href="https://www.linkedin.com/in/justin-pauga-51152698/" target="_blank" class="fa fa-lg fa-linkedin"></a>
        <a href="https://www.facebook.com/justin.pauga" target="_blank" class="fa fa-lg fa-facebook"></a>
      </p>
      <a href="mailto:paugajt@gmail.com" target="_blank">paugajt@gmail.com</a>
    </div>

    <p style="text-align: center">Copyright 2017 by Justin Pauga</p>
</footer>
</html>
